html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    height: 70px;
    background-color: #6c757d;
}

main {
    flex: 1;
    background-color: #444;
}
