<div *ngIf="actions[action]=='login'" class="main-container">
	<div class="login-container" *ngIf="loginTypes[curentType]=='username'">
		<p>Username:</p>
		<input type="text" placeholder="username" [(ngModel)]="loginUsername">
		<p>Password:</p>
		<input type="password" placeholder="password" [(ngModel)]="loginPassword">
		<p *ngIf="wrontLogin" class="error-message">Username or password are wrong</p>
		<button (click)="loginWithUsername()">Login</button>
		
<!--            <a routerLink="/calendar">go to calendar</a>-->
		<p>Connect with:</p>
		<div class="nav-container">
			<button (click)="nextType()">mail code verification</button>
			<button (click)="prevType()">phone code verification</button>
		</div>
		<div class="action-container">
			<button (click)="action=2">Recover password</button>
			<button (click)="action=1">Create account</button>
		</div>
	</div>
	<div class="login-container" *ngIf="loginTypes[curentType]=='mail'">
		<p>Mail:</p>
		<input type="text" placeholder="mail">
		<button *ngIf="!validMail" (click)="validateEmail()">Send code</button>
		<div *ngIf="validMail">
			<p>Code:</p>
			<input type="password" placeholder="code">
			<button (click)="login()">Login</button>
		</div>
		<!--            <a routerLink="/calendar">go to calendar</a>-->
		<p>Connect with:</p>
		<div class="nav-container">
			
			<button (click)="nextType()">phone code verification</button>
			<button (click)="prevType()">username and password</button>
		</div>
		<div class="action-container">
			<button (click)="action=2">Recover password</button>
			<button (click)="action=1">Create account</button>
		</div>
	</div>
	<div class="login-container" *ngIf="loginTypes[curentType]=='phone'">
		<p>Phone number:</p>
		<input type="tel" placeholder="username">
		<button *ngIf="!validPhone" (click)="validatePhone()">Send code</button>
		<div *ngIf="validPhone">
			<p>Code:</p>
			<input type="password" placeholder="code">
			<button (click)="login()">Login</button>
		</div>
		
		<!--            <a routerLink="/calendar">go to calendar</a>-->
		<p>Connect with:</p>
		<div class="nav-container">
			<button (click)="nextType()">username and password</button>
			<button (click)="prevType()">mail code verification</button>
			
		</div>
		<div class="action-container">
			<button (click)="action=2">Recover password</button>
			<button (click)="action=1">Create account</button>
		</div>
	</div>
</div>

<div *ngIf="actions[action]=='createAccount'" class="main-container">
	<div class="login-container">
		
		<p>Username:</p>
		<input type="text" [(ngModel)]="username">
		<p *ngIf="username.length==0" class="error-message">username can't be null</p>
		<p *ngIf="username.length!=0&&(username.length<6||username.length>20)" class="error-message">username need to have 6 to 20 caracters</p>
		<p *ngIf="!validNewUsername" class="error-message">This username are taken</p>
		
		<p>Phone number:</p>
		<input type="tel" inputmode="numeric">
		<button *ngIf="!validNewPhone" (click)="validateNewPhone()">Send code</button>
		<div *ngIf="validNewPhone">
			<p>Code</p>
			<input type="text">
			<button (click)="validateNewPhone()">Validate phone number</button>
		</div>
		<p>Email:</p>
		<input [(ngModel)]="createAccountMail" type="email">
		<button *ngIf="!showSendCodeNewMail" (click)="sendValidationEmailCode()">Send code</button>
		<div *ngIf="showSendCodeNewMail">
			<p>Code</p>
			<input [(ngModel)]="createAccountMailCode" type="text">
			<button (click)="sendVerificationCode()">Validate email</button>
			
		</div>
		<p>{{mailValMess}}</p>
		<p>Password:</p>
		<input type="password" [(ngModel)]="password">
		<p *ngIf="password.length==0" class="error-message">The password can't be null!</p>
		<p *ngIf="password.length>0&&password.length<8 || password.length>12" class="error-message">The password lenght need to be betwen 8 and 12!</p>
		
		<p>Repet password:</p>
		<input type="password" [(ngModel)]="repassword">
		<p *ngIf="repassword.length==0" class="error-message">The password can't be null!</p>
		<p *ngIf="repassword.length>0&&password!=repassword" class="error-message">The passwords don't match</p>
		
		<button [disabled]="!(validNewMail||validNewPhone)||(password.length<8||password.length>12)||!(password==repassword)" (click)="createUser()" >Create account</button>
		
		<p *ngIf="!validNewMail&&!validNewPhone" class="error-message">need to verifie one of phone or email for can create the account</p>
		<p *ngIf="password.length>0&&password!=repassword" class="error-message">the password need to match</p>
		<p *ngIf="password.length==0" class="error-message">the password can't be null</p>
		<button (click)="action=0" class="login-button">go to login page</button>
	</div>
</div>
<div class="warning-overlay" *ngIf="mailAllredyExists">
	<div class="warning-box">
		mailul exista
		<button (click)="action=2;mailAllredyExists=false ">go to recover password</button>
		<button (click)="mailAllredyExists=false">continue woth another mail</button>
	</div>
</div>
<div *ngIf="actions[action]=='recoverPassword'" class="main-container">
       <div *ngIf="!confirmedIdentidy" class="login-container">
	       <div *ngIf="recoverMet=='email'">
		       <p>Email:</p>
		       <input type="text">
		       <button (click)="mailsended=true">send code</button>
		       <div *ngIf="mailsended">
			       <p>Code:</p>
			       <input type="text">
			       <button (click)="confirmedIdentidy=true">continue</button>
		       </div>
		       <button (click)="recoverMet='phone'">use phone number</button>
	       </div>
	       <div *ngIf="recoverMet=='phone'">
		       <p>Phone:</p>
		       <input type="text">
		       <button (click)="phonesended=true">send code</button>
		       <div *ngIf="phonesended">
			       <p>Code:</p>
			       <input type="text">
			       <button (click)="confirmedIdentidy=true">continue</button>
		       </div>
		       <button (click)="recoverMet='email'">use mail</button>
	       </div>
	       <button (click)="action=0" class="login-button">go to login page</button>
       </div>
	<div *ngIf="confirmedIdentidy" class="login-container">
		<p>New password:</p>
		<input type="password">
		<p>Repet new password:</p>
		<input type="password">
		<button (click)="action=0">set</button>
		<button (click)="action=0" class="login-button">go to login page</button>
	</div>
	
</div>